@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100&display=swap');
body {
    margin: 0;
    background:#B8547A;
    font-family: 'Noto Sans', sans-serif;
}
.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lscreen {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rscreen {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dados {
    width: 60%;
    height: 57%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 35px;
    background: #7B101E;
    border-radius: 15px;
    box-shadow: 0px 10px 40px rgba(222, 0, 74, 0.53);
}
.dados > h3 {
    color: pink;
    font-weight: 600;
    margin-top: 19px;
    background: #b5264379;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -15px rgba(236, 7, 83, 0.338);
}
.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.field > input {
    width: 50%;
    border: none;
    background: none;
    border-bottom: solid 2px #FF5FA2;
    outline: none;
    padding: 13px;
    box-shadow: 0px 10px 10px rgba(222, 0, 74, 0.217);
    box-sizing: border-box;
    color: #EACAD7;
}
.field > ::placeholder {
    color: #FF5FA2;
}
.btn {
    width: 60%;
    padding: 15px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #65222B;
    color: #efcddb;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 10px 20px -12px pink;

}
button:hover {
    background: pink;
    color: #65222B;
    transition: all .3s ease-out;
}
hr {
    width: 75%;
}
p {
    color: #ff3689;
    font-size: 15pt;
}
a {
    color: #ff006a;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    color: #ff80b5;
}
img {
    height: 90vh;
}